.App{
  text-align: center;
}

table,th,td
{
  border: 1px solid black;
  border-collapse: collapse;
}

table{
  border-spacing: 5px;
  margin-left: auto;
  margin-right: auto;
}

th,td{
  padding: 10px;
}

.form1{ 
  position: absolute; 
  left : 20%;
  top : 10%;
}

.form2{ 
  position: absolute;
  right: 20%;
  top : 10%
}

.form3{
  position: absolute;
  left : 22.5%;
  top : 15%;
  
}

.form4{
  position: absolute;
  right: 20%;
  top : 15%
}

.form5{
  position: absolute;
  top : 20%;
  left: 50%;
}

